#!/usr/bin/env sh

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
if [ -n "$BASH_VERSION" ]; then
  export HISTFILESIZE="${HISTSIZE}";
  # Omit duplicates and commands that begin with a space from history.
  export HISTCONTROL='ignoreboth';
elif [ -n "$ZSH_VERSION" ]; then
  export SAVEHIST="${HISTSIZE}";
fi

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md=$'\e[1;33m';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# bash warning disable for macOS.
if [ -n "$BASH_VERSION" ]; then
  export BASH_SILENCE_DEPRECATION_WARNING=1
fi

if [ -n "${HOMEBREW_PREFIX:-}" ]; then
  _add_to_pkg_config() {
    if [ -d "$1" ]; then
      export PKG_CONFIG_PATH="$1:${PKG_CONFIG_PATH:-}"
    fi
  }

  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/krb5/lib/pkgconfig"
  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/icu4c/lib/pkgconfig"
  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/libedit/lib/pkgconfig"
  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/libjpeg/lib/pkgconfig"
  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/libpng/lib/pkgconfig"
  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/libxml2/lib/pkgconfig"
  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/libzip/lib/pkgconfig"
  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/oniguruma/lib/pkgconfig"
  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/openssl@3/lib/pkgconfig"
  _add_to_pkg_config "${HOMEBREW_PREFIX}/opt/tidy-html5/lib/pkgconfig"
  unset -f _add_to_pkg_config

  export PHP_RPATHS=""
  for lib in zlib bzip2 curl libiconv libedit; do
    if [ -d "${HOMEBREW_PREFIX}/opt/${lib}/lib" ]; then
      export PHP_RPATHS="$PHP_RPATHS ${HOMEBREW_PREFIX}/opt/${lib}/lib"
    fi
  done

  export PHP_BUILD_CONFIGURE_OPTS=""
  [ -d "${HOMEBREW_PREFIX}/opt/bzip2" ] && export PHP_BUILD_CONFIGURE_OPTS="$PHP_BUILD_CONFIGURE_OPTS --with-bz2=${HOMEBREW_PREFIX}/opt/bzip2"
  [ -d "${HOMEBREW_PREFIX}/opt/libiconv" ] && export PHP_BUILD_CONFIGURE_OPTS="$PHP_BUILD_CONFIGURE_OPTS --with-iconv=${HOMEBREW_PREFIX}/opt/libiconv"
  [ -d "${HOMEBREW_PREFIX}/opt/tidy-html5" ] && export PHP_BUILD_CONFIGURE_OPTS="$PHP_BUILD_CONFIGURE_OPTS --with-tidy=${HOMEBREW_PREFIX}/opt/tidy-html5"
  [ -d "${HOMEBREW_PREFIX}/opt/pcre2" ] && export PHP_BUILD_CONFIGURE_OPTS="$PHP_BUILD_CONFIGURE_OPTS --with-external-pcre=${HOMEBREW_PREFIX}/opt/pcre2"
  export PHP_BUILD_CONFIGURE_OPTS="$PHP_BUILD_CONFIGURE_OPTS --with-zip --enable-intl --with-pear"

  if [ -d "${HOMEBREW_PREFIX}/opt/sdkman-cli/libexec" ]; then
    export SDKMAN_DIR="${HOMEBREW_PREFIX}/opt/sdkman-cli/libexec"
  fi
fi

